<h1>share hearts</h1>
<h1>詳細</h1>
<div class="talk">
    <p><%= @talk.body%></p>
    <p><%= @talk.created_at %></p>
    <% if user_signed_in? %>
        <% if current_user.already_empathied?(@talk) %>
            <%= link_to talk_empathy_path(@talk), method: :delete do %>
                <i class="fas fa-heart"></i>共感<%= @talk.empathies.count %>
            <% end %>
        <% else%>
            <%= link_to talk_empathies_path(@talk), method: :post do %>
                <i class="far fa-heart"></i>共感<%= @talk.empathies.count %>
            <% end %>
        <% end %>
    <% else %>
        <i class="far fa-heart"></i><%= @talk.empathies.count %>
    <% end %>
</div>
<% if user_signed_in? && current_user.id == @talk.user_id %>
    <%= link_to "編集", edit_talk_path(@talk.id) %>
<% end %>
<h2>共感したユーザー</h2>
<% @talk.empathied_users.each do |user| %>
    <li><%= user.email %></li>
<%end%>
<p>コメント一覧</p>
<% @answers.each do |a| %>
    <div>
        <%= a.user.email unless a.user.blank? %>
        <br>
        <%= a.content %>

    </div>
    <% if user_signed_in? %>
        <%= link_to '編集', edit_talk_answer_path(talk_id: a.talk_id , id: a.id) %>
        <%= button_to '削除', talk_answer_path(talk_id: a.talk_id , id: a.id), method: :delete %>
        <% if current_user.already_liked?(a) %>
            <%= link_to talk_answer_like_path(id: @talk.id, talk_id: @talk.id, answer_id: a.id), method: :delete do %>
                <i class="fas fa-star"></i>いいね<%= a.likes.count %>
            <% end %>
        <% else %>
            <%= link_to talk_answer_likes_path(id: @talk.id, talk_id: @talk.id, answer_id: a.id), method: :post do %>
            <!-- talk_answer_likes POST   /talks/:talk_id/answers/:answer_id/likes(.:format) -->
                <i class="far fa-star"></i>いいね<%= a.likes.count %>
            <% end %>
        <% end %>
    <% else %>
            <i class="far fa-star"></i><%= a.likes.count %>
    <% end %>
    <br>
<% end %>

<% if user_signed_in? %>
    <%= form_with(model: [@talk, @answer], local: true) do |f| %>
        <%= f.text_area :body %>
        <%= button_tag type: "submit" do %>
            <i></i>コメントする
        <% end %>
    <% end %>
<% end %>

<h3>いいねしたユーザー</h3>
<% @answer.liked_users.each do |user| %>
    <li><%= user.email %></li>
<% end %>
<%= link_to "お悩み一覧", talks_path %>