<h1>share hearts</h1>
<h1>詳細</h1>
<div>
    <p><%= @talk.body%></p>
    <p><%= @talk.created_at %></p>
    <!--
    <% if user_signed_in? %>
        <% if current_user.already_empathied?(@talk) %>
            <%= link_to talk_empathy_path(@talk), method: :delete, remote: true do %>
                <i class="fas fa-heart"></i>共感<%= @talk.empathies.count %>
            <% end %>
        <% else%>
            <%= link_to talk_empathies_path(@talk), method: :post, remote: true do %>
                <i class="far fa-heart"></i>共感<%= @talk.empathies.count %>
            <% end %>
        <% end %>
    <% else %>
        <i class="far fa-heart"></i><%= @talk.empathies.count %>
    <% end %>
    <div class="empathies_buttons_<%= @talk.id %>">
        <%= render 'empathies/empathy', talk: @talk%>
    </div>
    -->
</div>
<%= link_to "編集", edit_talk_path(@talk.id) %>
<h2>共感したユーザー</h2>
<% @talk.empathied_users.each do |user| %>
    <li><%= user.email %></li>
<%end%>
<p>コメント一覧</p>
<%= @answers.each do |a| %>
    <div>
        <%= a.user.email unless a.user.blank? %>
        <br>
        <%= a.body %>
    </div>
    <!--
    <% if user_signed_in? %>
        <% if current_user.already_liked?(a) %>
            <%= link_to talk_answer_like_path(id: @talk.id, talk_id: @talk.id, answer_id: a.id), method: :delete, remote: true do %>
                <i class="fas fa-star"></i>いいね<%= a.likes.count %>
            <% end %>
        <% else %>
            <%= link_to talk_answer_likes_path(id: @talk.id, talk_id: @talk.id, answer_id: a.id), method: :post, remote: true do %>
                <i class="far fa-star"></i>いいね<%= a.likes.count %>
            <% end %>
        <% end %>
    <% else %>
            <i class="far fa-star"></i><%= a.likes.count %>
    <% end %>
    <div class="likes_buttons_<%= a.id %>">
        <%= render 'likes/like', answer: a%>
    </div>
    -->
    <br>
<% end %>
<% if user_signed_in? %>
    <%= form_with(model: [@talk, @answer], local: true) do |f| %>
        <%= f.text_area :body %>
        <%= button_tag type: "submit" do %>
            <i></i>コメントする
        <% end %>
    <% end %>
<% end %>

<h3>いいねしたユーザー</h3>
<% @answer.liked_users.each do |user| %>
    <li><%= user.email %></li>
<% end %>
<%= link_to "お悩み一覧", talks_path %>